
.header, .board-header{
    font-family: "verdana";
    text-align: center;
}

.board-container {
      float: left;
}

.board-section{
    margin: 10px;
    padding-bottom: 10px;
    height: 550px;
    width: 560px;
    float: left;
    border-style: solid;
    padding-bottom: 10px;
}

.game-cells {
      height: 50px;
      width: 50px;
      background-color: #888888;
      float: left;
      margin: 3px ;
      cursor: pointer;
    }

.play-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.addPlayer-btn{
    margin-left: 30%;
}
.delPlayer-btn{
    margin-left: 5%;
}

.roll-dice-btn{
    display: block;
} 

.player{
    padding: 10px;
    float: left;
    font-size: 20px;
}

.player-details{
    margin: 10px;
    padding: 10px;
    border-style: solid;
    float: left;
}

.player-form{
    float:left;
}


